* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.barContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;

}

